<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title text-center">
        <span>Overview</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="home_" href="#">
          <i class="icon-speedometer"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="charts" href="#">
          <i class="icon-pie-chart"></i>
          Traffic
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="sales" href="#">
          <i class="icon-calculator"></i>
          Sales
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="users" href="#" data-action-type="view">
          <i class="icon-people"></i>
          Subscribers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="about" href="#">
          <i class="icon-notebook"></i>
          About
        </a>
      </li>
      <li class="divider">
      </li>
      <li class="nav-title text-center">
        <span>Priority Items</span>
      </li>
       <li class="nav-item">
        <a class="nav-link" nm="revenue" href="#">
          <i class="fa fa-line-chart"></i>
          Revenue Projection
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="alerts" href="#">
          <i class="icon-bell"></i>
          Alerts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="logs" href="#">
          <i class="icon-layers"></i>
          Logs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="analytics" href="#">
          <i class="icon-chart"></i>
          Analytics 
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="ab-testing" href="#">
          <i class="icon-shuffle"></i>
          A-B Testing Results
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="recommendations" href="#">
          <i class="icon-compass"></i>
          Recommendations 
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="reports" href="#">
          <i class="icon-notebook"></i>
          Other Reports
        </a>
      </li>
      <li class="divider">
      </li>
      <li class="nav-title text-center">
        <span>Extras</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="topology" href="#">
          <i class="icon-globe"></i>
          Topology
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="calendar" href="#">
          <i class="icon-calendar"></i>
          Calendar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="wikipedia" href="#">
          <i class="fa fa-wikipedia-w"></i>
          Wikipedia
        </a>
      </li>
    </ul>
  </nav>
</div>

